<h2>
	Welcome to Admin Dashboard
</h2>

<a href="/admin/complaint/all">All Complaints</a>
<a href="/admin/complaint/flagged">Flagged Complaints</a>
<a href="/admin/addMunicipal">Add Municipal Authority</a>


