<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/admindash.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://kit.fontawesome.com/6d1a88741d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/navbarActive.css">   
</head>
<body style="background-image: url('/css/images/pic3.jpg');">
<center>
<%-include('../partials/navbarAdmin.ejs')%>
<div class="heading" color="white">
<h1 style="color:white;">Welcome to Admin Dashboard!</h1>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</center>
</body>
</html>


