<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<h2>Welcome to Public Grievance Management System</h2>
Total Users : <%= totalUsers %>

<%- include('partials/footer.ejs') %>
