<h2>
	Add complaint
</h2>

<form action="/user/<%=id%>/addComplaint" method="POST">
	<label for="areaCode">AreaCode</label>
	<input type="text" name="areaCode" id="areaCode">
	<br>
	<label for="description">Description</label>
	<input type="text" name="description" id="description">
	<br>
	<label for="deptID">Department Code</label>
	<input type="number" name="deptID" id="deptID">
	<button>
		Submit Complaint
	</button>
</form>