<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<title>
		COMPLAINT REGISTRATION FORM
	</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/addcomplaint.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
	  
</head>
<body style="background-image: url('/css/images/pic3.jpg');">
    <center>
		<div class="heading">
				<h1>GRIEVANCE REGISTRATION FORM</h1>
		  </div>

<div class="main">
<form action="/user/<%=id%>/addComplaint" method="POST">
	<label class="label1" for="areaCode">AreaCode:   </label>
	<input class="input1" type="text" name="areaCode" id="areaCode" placeholder="Eg.124">
	<br><br><br>
	<label class="label2" for="title">Title:   </label>
	<input class="input2" type="text" name="title" id="title" placeholder="Eg.major fault in a chain restaurant.">
	<br><br><br>
	<label class="label3" for="description">Description:   </label>
	<input class="input3" type="text" name="description" id="description" placeholder="describe your complaint">
	<br><br><br>
	<label class="label4" for="deptID">Department Code:   </label>
	<input class="input4" type="number" name="deptID" id="deptID" placeholder="Eg.1">
	<br><br><br><br>
	<button class="btn" type="submit" name="button" id="submit">Submit</button>
</form>
</div><!--main-->
</center>
</body>
</html>

<%- include('../partials/footer.ejs') %>
