<h2>
	Welcome to User Login Page 
</h2>

<form action="/user/login" method="POST">
	<label for="email">Email</label>
	<input type="email" name="email" id="email">
	<label for="pass_word">Password</label>
	<input type="password" name="pass_word" id="pass_word">
	<button>
		Login
	</button>
</form>