<h2>
	Welcome to User Signup Page 
</h2>

<form action="/user/signup" method="POST">
	<label for="email">Email</label>
	<input type="text" name="email" id="email">
	<br>
	<label for="pass_word">Password</label>
	<input type="password" name="pass_word" id="pass_word">
	<br>
	<label for="fName">First Name</label>
	<input type="text" name="fName" id="fName">
	<br>
	<label for="lName">Last Name</label>
	<input type="text" name="lName" id="lName">
	<br>
	<label for="age">Age</label>
	<input type="number" name="age" id="age">
	<br>
	<label for="occupation">Occupation</label>
	<input type="text" name="occupation" id="occupation">
	<br>
	<label for="gender">Gender</label>
	<input type="text" name="gender" id="gender">
	<br>
	<label for="phone">Phone</label>
	<input type="text" name="phone" id="phone">
	<br>
	<label for="address">Address</label>
	<input type="text" name="address" id="address">
	
	<button>
		Submit
	</button>
</form>