<h2>
	WRITE REVIEW
</h2>

<form action="/municipal/<%=id%>/write_review" method="POST">
	<label for="report">Review</label>
	<input type ="text" name="report" id="report">
	<button>
		Submit
	</button>
</form>
